<html lang="en">

   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="container mt-5 bg-white text-dark">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/car1.png" class="img-thumbnail border-0" alt=""/>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6 pt-5">
                                <h3><strong style="color: #2e3b51">MIDSIZE SUV</strong></h3>
                                <p>Ford Ecosport or similar</p>
                                <div class="pt-4">
                                    <img style="height: 28px; width: 28px; color: yellow;" src="/images/seating.png" alt=""><span class="p-3">5 Seats</span>
                                    <img style="height: 28px; width: 28px; color: yellow;" src="/images/ac.png" alt=""><span class="p-3">AC</span>
                                    <img style="height: 28px; width: 30px; color: yellow;" src="/images/luggage.png" alt=""><span class="p-3">3 Luggage</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="p-5">
                                    <h3 style="color: #2e3b51">&#x20B1; 7,800 /<span style="font-size: 20px"> DAY</span> </h3>
                                    <button type="button" class="btn btn-info">PROCEED</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <%- include footer %>