<!DOCTYPE html>
<html lang="en">
<head>
  <title>Car Rental Services</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/Form.css">
</head>
<body style="background-color:rgb(66, 73, 73);">
	<!--NavBar -->
<div class="navbar-wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
        <img src="img/logo.png" alt="logo">
        </a>
                    <button type="button" class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" ><span class="icon-bar"></span></button>
                </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
		<form class="navbar-form navbar-right" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search"/>	
			</div>
			<button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
		</form>
      </div>
    </div>
  </nav>
    
</div>
    <!--fill up -->
    <div class="col-md-8 col-md-offset-2">
    <div class="modal-content">
		<div class="modal-header">
			<span class="close-icon-black pull-right gap-btwn-two-close" ng-if="vm.loginModel.displayControl.closeBtn" aria-label="Close" data-dismiss="modal"></span>
			<h3 class="text-center h1-substitute" ng-if="vm.loginModel.displayControl.variation == carRentalConstant.displayControlBig">Log into your VehiLink Account</h3>
		</div>
		<div class="modal-body">
			<div class="form-inner-wrap">
				<form name="loginForm" novalidate="" class="ng-pristine ng-pending">
					 
                    <div class="col-md-6 col-md-offset-3">
                    <div class="form-group form-bg-color" ng-if="!isRecognized">
						<input type="text" class="form-control radius-non ng-pristine ng-untouched ng-pending ng-empty" id="username" name="username" placeholder="Username " ng-model="vm.loginModel.uName" validator="required" valid-method="blur" required-error-message="Username / Wizard Number is a required field."><span class="platform-error-message error" style="display: none;"></span>
					</div>
                    </div>     
					
                    <div class="col-md-6 col-md-offset-3">
                    <div class="form-group form-bg-color">
						<input type="password" autocomplete="new-password" class="form-control radius-non ng-pristine ng-untouched ng-pending ng-empty" id="password" name="password" ng-model="vm.loginModel.password" placeholder="Password (Case Sensitive)" validator="required" ng-blur="vm.checkEmpty();" valid-method="blur" required-error-message="<strong>Password </strong> is a required field"><span class="platform-error-message error" style="display: none;"></span>
					</div>
                    </div>
                    
                    <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-lg btn-primary btn-block radius-non btn-submit btn-continue" id="res-login-profile" aria-label="Continue" ng-click="vm.getLogin.submit(loginForm, vm)" name="button" ng-if="vm.loginModel.displayControl.variation == carRentalConstant.displayControlBig">Log In</button>
                    </div>
				</form> 
			</div>
            
            <div class="col-md-offset-3">
			<div class="spinnerLoader-small hidden" ng-class="{'hidden':!vm.loginInProgress}">
				<svg viewBox="0 0 100 100">
						<circle cx="50" cy="50" r="40" stroke="#d4002a" stroke-width="8" fill="none" stroke-dasharray="1,150"></circle></svg>
			</div>
            </div>
		</div>
		
        <div class="modal-footer login-popup-footer" ng-class="{'recognized-user-login':isRecognized}" ng-if="vm.loginModel.displayControl.variation == carRentalConstant.displayControlBig">
			<ul class="list-inline form-inner-wrap btns-login">
				<li class="col-xs-7 text-center forgot-username" ng-if="!isRecognized &amp;&amp; !isRememberME">
                <a id="res-login-forgot-user" href="/en/loyalty-profile/avis-preferred/forgot-username">Forgot username?</a>
                </li>
				
                <li class="col-xs-3 text-center">
                <a id="res-login-forgot-password" href="/en/loyalty-profile/avis-preferred/forgot-password">Forgot password?</a>
                </li>
				
				<li class="col-xs-12 text-center create-account">
					 <span class="text-color-black"> Need an account? </span> <a class="createLink" id="res-home-creAccount" href="/en/loyalty-profile/avis-preferred/enrollment">Create one now</a>
				</li>
			</ul>
		</div>
	</div>
    </div>        
    
    <footer class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
  </div>
</footer>
</body>